@use "global" as *;

.sub-voice__voice-cards {
  margin-top: rem(40);
}

.sub-voice__voice-cards {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}

.sub-voice__pagination {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(70);
  }
}
