@use 'global' as *;



.blog-cards {
@include mq('md') {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1080);
  width: 100%;
}
  }


  .blog-cards__item:not(:first-child){
@include mq('md') {
margin-left: rem(40);
}  
  }