@use "global" as *;


.campaign__swiper {
  position: relative;
  margin-top: rem(27);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: rem(44);
  }
}

.campaign__swiper-wrapper {
  padding-bottom: rem(10);
  display: grid;
  grid-auto-flow: column;
}


.campaign__button {
  display: block;
  text-align: center;
  margin-top: rem(30);
  margin: 0 auto;
  @include mq("md") {
    margin-top: rem(70);
  }
}
