@use "global" as *;

.campaign__swiper {
  position: relative;
  padding-left: rem(15);
  margin-top: rem(27);
  width: 100%;
  @include mq("md") {
    margin-left: auto;
    max-width: rem(1270);
    margin-top: rem(44);
    padding-left: rem(10);
  }
}

.campaign__swiper-wrapper {
  padding-bottom: rem(10);
}

.campaign__button {
  display: block;
  text-align: center;
  margin-top: rem(30);
  margin: 0 auto;
  @include mq("md") {
    margin-top: rem(70);
  }
}
