@use "global" as *;

.campaign-card {
  display: flex;
  flex-direction: column;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.campaign-card__image {
  aspect-ratio: 280 / 188;
}

.campaign-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-card__body {
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);

  @include mq("md") {
    padding-top: rem(24);
  }
}

.campaign-card__category {
  display: inline-block;
  font-size: rem(12);
  color: $green;
  line-height: 1;
  padding: rem(8) rem(11);
  border: 1px solid $green;

  @include mq("md") {
    padding: rem(11) rem(15);
  }
}

.campaign-card__title {
  color: $black;
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  border-bottom: 1px solid $green;
  padding-top: rem(4);
  padding-bottom: rem(8);
}

.campaign-card__buttom {
  padding-bottom: rem(24);
  padding-left: rem(16);
  padding-right: rem(16);
  @include mq("md") {
    padding-bottom: rem(40);
  }
}

.campaign-card__text {
  font-size: rem(14);
  line-height: 1;
  color: $black;
  text-align: center;
  margin-top: rem(12);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(16);
  }
}

.campaign-card__price {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: rem(18);
  margin-top: rem(12);
  @include mq("md") {
    gap: rem(30);
  }
}

.campaign-card__before {
  font-family: $second-english-font-family;
  font-weight: $bold;
  font-size: rem(20);
  color: $black;
  line-height: 1;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #c94800;
  @include mq("md") {
    font-size: clamp(rem(16), 10vw, rem(24));
  }
}

.campaign-card__after {
  font-family: $second-english-font-family;
  font-weight: $bold;
  font-size: rem(32);
  color: $green;
  line-height: 1;

  @include mq("md") {
    font-size: clamp(rem(20), 3vw, rem(40));
  }
}
