@use "global" as *;

.mv {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.mv__bg-movie {
  position: absolute;
}

.mv__header {
  content: "";
  position: absolute;
  width: 100%;
  top: 49.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.mv__title {
  font-size: rem(40);
  letter-spacing: 0.52em;
  line-height: 1.1;
  font-weight: $regular;
  font-family: $second-english-font-family;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding-left: rem(20);

  @include mq("md") {
    font-size: rem(80);
    padding-left: rem(38);
    letter-spacing: 0.53em;
    opacity: 0;
    animation-name: fadeIn; /* 定義したアニメーションを指定 */
    animation-duration: 1s; /* アニメーションの時間 */
    animation-delay: 3s; /* アニメーションの遅延（2秒後に開始） */
    animation-fill-mode: forwards; /* アニメーション終了後に最終ステップのスタイルを維持 */
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.mv__subtitle {
  font-size: rem(20);
  line-height: 1;
  font-family: $english-font-family;
  text-align: center;
  color: $white;
  margin-top: rem(8);
  @include mq("md") {
    margin-top: rem(12);
    opacity: 0;
    animation-name: fadeIn; /* 定義したアニメーションを指定 */
    animation-duration: 1s; /* アニメーションの時間 */
    animation-delay: 3s; /* アニメーションの遅延（2秒後に開始） */
    animation-fill-mode: forwards; /* アニメーション終了後に最終ステップのスタイルを維持 */
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.mv__swiper {
  height: 100vh;
  width: 100%;
  @include mq("md") {
    opacity: 0;
    animation-name: fadeIn; /* 定義したアニメーションを指定 */
    animation-duration: 2s; /* アニメーションの時間 */
    animation-delay: 4s; /* アニメーションの遅延（2秒後に開始） */
    animation-fill-mode: forwards; /* アニメーション終了後に最終ステップのスタイルを維持 */
  }
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mv__image img {
  display: inline-block;
  height: 100vh;
  width: 100%;
}
