@use "global" as *;

.price-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $green;
  width: 100%;
  max-width: rem(700);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    display: flex;
  }
}

.price-table:not(:first-child) {
  margin-top: rem(36);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.price-table__head {
  background-color: $green;
  @include mq("md") {
    flex: 0 0 28.5%;
  }
}

.price-table__head tr,
.price-table__head th {
  @include mq("md") {
    display: grid;
    place-content: center;
    height: 100%;
  }
}

.price-table__lead {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: rem(12);
  @include mq("md") {
    display: grid;
  }
}

.price-table__title {
  font-size: rem(16);
  line-height: 1;
  font-weight: $bold;
  color: $white;
  padding: rem(8) 0;
  @include mq("md") {
    padding: 0;
  }
}

.price-table__icon {
  width: rem(24);
  height: rem(24);
  aspect-ratio: 1 / 1;
  fill: #fff;
  @include mq("md") {
    width: rem(60);
    height: rem(60);
    margin: 0 auto;
  }
}

.price-table__icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.price-table__body {
  padding: 0;
  @include mq("md") {
    flex: 0 0 71.5%;
  }
}

.price-table__row {
  height: rem(60);
  max-width: 100%;
  width: 100%;
  @include mq("md") {
    height: rem(58.5);
  }
}

.price-table__row:not(:first-child) {
  border-top: 1px solid $green;
}

.price-table__course {
  text-align: center;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  width: calc(240 / 346) * 100%;
  padding-top: 0;
  padding-left: rem(16);
  padding-right: 0;
  padding-bottom: 0;
  @include mq("md") {
    width: calc(340 / 502) * 100%;
    text-align: left;
  }
}

.price-table__price {
  border-left: 1px solid $green;
  text-align: right;
  font-size: rem(16);
  line-height: calc(24 / 16);
  width: calc(106 / 346) * 100%;
  padding-top: 0;
  padding-left: 0;
  padding-right: rem(16);
  padding-bottom: 0;
  @include mq("md") {
    width: rem(162);
  }
}
