@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  background-color: $green;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  display: flex;
  gap: rem(5);
  justify-content: center;
  max-width: rem(350);
  margin: 0 auto;
}

.sp-nav__left-text {
  margin-left: rem(22);
  width: 50%;
}

.sp-nav__left-text--footer{
  width: 54.5%;
}

.sp-nav__right-text {
  margin-left: rem(14);
  width: 50%;
}

.sp-nav__right-text--footer{

  width: 45.5%;
}

.sp-nav__container {
  position: relative;
}

.sp-nav__container::before {
  position: absolute;
  content: "";
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: rem(12);
  left: rem(-21);
}

.sp-nav__container:not(:first-child) {
  margin-top: rem(16);
}

.sp-nav__item {
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}

.sp-nav__item a {
  padding: rem(12) 0;
  display: block;
  width: 100%;
}

.sp-nav__item--bold {
  font-weight: $bold;
}
